* {
    padding: .5em;
    background-image: url("../directory/directory-02.png");
    background-size: 1280px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "arial", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

h3 {
    width: 150px;
    position: relative;
    left: 350px;
}

p {
    font-size: 24px;
}

.aa {
    width: 200px;
    height: 100px;
    position: relative;
    top: 60px;
    left: 30px;
}

.bb {
    width: 300px;
    height: 300px;
    position: relative;
    left: 350px;
    border: 1px dotted black;
    width: 530px;
    height: 280px;
    overflow: scroll;
}

.cc {
    width: 300px;
    position: relative;
    left: 350px;
}

.dd {
    position: absolute;
    top: 500px;
    left: 40px;
}
