       * {
           font-family: "arial", sans-serif;
           color: #FFFFFF;
       }
       
       .aa {
           width: 304px;
           height: 600px;
           top: 50px;
           left: 200px;
           position: absolute;
           background: black;
           border-radius: 32px;
           border-right-color: #6C6F7F;
           border-right-style: solid;
           border-right-width: 6px;
       }
       
       .bb {
           width: 302px;
           height: 590px;
           top: 50px;
           left: 200px;
           position: absolute;
           border-radius: 32px;
           border-right-color: #56565D;
           border-right-style: solid;
           border-right-width: 5px;
           border-bottom-color: #56565D;
           border-bottom-style: solid;
           border-bottom-width: 5px;
           border-top-color: #87899E;
           border-top-style: solid;
           border-top-width: 5px;
           border-left-color: #87899E;
           border-left-style: solid;
           border-left-width: 5px;
       }
       
       .cc {
           width: 280px;
           height: 450px;
           top: 100px;
           left: 213px;
           position: absolute;
           background: #262422;
           border-color: #56565D;
           border-style: solid;
           border-width: 1px;
       }
       
       .dd {
           width: 50px;
           height: 5px;
           top: 80px;
           left: 335px;
           position: absolute;
           background: #262422;
       }
       
       .ee {
           width: 5px;
           height: 5px;
           top: 65px;
           left: 355px;
           position: absolute;
           background: #262422;
           border-radius: 99em;
       }
       
       .ff {
           width: 10px;
           height: 10px;
           top: 78px;
           left: 300px;
           position: absolute;
           background: #262422;
           border-radius: 99em;
           border-color: #2F2F2F;
           border-style: solid;
           border-width: 2px;
       }
       
       .gg {
           width: 40px;
           height: 40px;
           top: 580px;
           left: 335px;
           position: absolute;
           background: white;
           border-radius: 99em;
           border-right-color: #87899E;
           border-right-style: solid;
           border-right-width: 3px;
           border-bottom-color: #87899E;
           border-bottom-style: solid;
           border-bottom-width: 3px;
           border-top-color: #56565D;
           border-top-style: solid;
           border-top-width: 3px;
           border-left-color: #56565D;
           border-left-style: solid;
           border-left-width: 3px;
       }
       
       .hh {
           width: 5px;
           height: 10px;
           top: 600px;
           left: 200px;
           position: absolute;
           background: #262422;
       }
       
       .ii {
           width: 5px;
           height: 10px;
           top: 600px;
           left: 506px;
           position: absolute;
           background: #262422;
       }
       
       .jj {
           width: 5px;
           height: 30px;
           top: 120px;
           left: 197px;
           border-radius: 5px;
           position: absolute;
           background: #262422;
       }
       
       .kk {
           width: 5px;
           height: 40px;
           top: 170px;
           left: 197px;
           border-radius: 5px;
           position: absolute;
           background: #262422;
       }
       
       .ll {
           width: 5px;
           height: 40px;
           top: 220px;
           left: 197px;
           border-radius: 5px;
           position: absolute;
           background: #262422;
       }
       
       .mm {
           width: 5px;
           height: 40px;
           top: 170px;
           left: 510px;
           border-radius: 5px;
           position: absolute;
           background: #262422;
       }
       
       .nn {
           width: 4px;
           height: 4px;
           top: 81px;
           left: 302px;
           border-radius: 99em;
           position: absolute;
           background: #033860;
       }
       
       .oo {
           width: 4px;
           height: 4px;
           top: 84px;
           left: 307px;
           border-radius: 99em;
           position: absolute;
           background: #033860;
       }
       
       .a {
           width: 300px;
           height: 586px;
           top: 50px;
           left: 600px;
           background-color: #262422;
           position: absolute;
           border-radius: 32px;
           border-color: #56565D;
           border-style: outset;
           border-width: 7px;
       }
       
       .b {
           width: 65px;
           height: 25px;
           top: 73px;
           left: 630px;
           background-color: black;
           position: absolute;
           border-radius: 32px;
           border-right-color: #56565D;
           border-right-style: outset;
           border-right-width: 3px;
           border-bottom-color: #56565D;
           border-bottom-style: outset;
           border-bottom-width: 3px;
           border-top-color: #87899E;
           border-top-style: outset;
           border-top-width: 3px;
           border-left-color: #87899E;
           border-left-style: outset;
           border-left-width: 3px;
       }
       
       .c {
           width: 5px;
           height: 5px;
           top: 85px;
           left: 705px;
           position: absolute;
           background: black;
           border-radius: 99em;
       }
       
       .d {
           width: 15px;
           height: 15px;
           top: 80px;
           left: 715px;
           position: absolute;
           background: white;
           border-radius: 99em;
       }
       
       .e {
           width: 10px;
           height: 10px;
           top: 83px;
           left: 717px;
           position: absolute;
           background: #C8AD55;
           border-radius: 99em;
       }
       
       .f {
           width: 5px;
           height: 30px;
           top: 120px;
           left: 912px;
           border-radius: 5px;
           position: absolute;
           background: #262422;
       }
       
       .g {
           width: 5px;
           height: 40px;
           top: 170px;
           left: 912px;
           border-radius: 5px;
           position: absolute;
           background: #262422;
       }
       
       .h {
           width: 5px;
           height: 40px;
           top: 220px;
           left: 912px;
           border-radius: 5px;
           position: absolute;
           background: #262422;
       }
       
       .i {
           width: 5px;
           height: 40px;
           top: 170px;
           left: 595px;
           border-radius: 5px;
           position: absolute;
           background: #262422;
       }
       
       .j {
           position: absolute;
           top: 130px;
           left: 660px;
       }
       
       .k {
           position: absolute;
           font-size: 16px;
           font-family: "arial", sans-serif;
           color: #6C6F7F;
           width: 200px;
           top: 500px;
           left: 740px;
       }
       
       .l {
           position: absolute;
           font-size: 10px;
           font-family: "arial", sans-serif;
           color: #56565D;
           width: 300px;
           top: 540px;
           left: 610px;
           text-align: center;
       }
       
       .m {
           position: absolute;
           width: 260px;
           left: 210px;
           top: 400px;
       }
       
       .circle1 {
           bottom: 100px;
           right: 100px;
           position: fixed;
           box-sizing: border-box;
           background-color: #F9C22E;
           padding: 4px;
           margin: 4px;
           width: 90px;
           height: 90px;
           border-radius: 99em;
           text-align: center;
           font-weight: bold;
       }
