    * {
        padding: .5em;
        background-image: url("../back-image/page-01.png");
        background-size: 1280px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: "arial", sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: #FFFFFF;
    }
    
    .aa {
        position: absolute;
        top: 170px;
        left: 70px;
    }
    
    .bb {
        position: absolute;
        top: 500px;
        left: 60px;
    }
    
    .cc {
        position: absolute;
        top: 170px;
        left: 300px;
        color: #000000;
    }
    
    .dd {
        width: 800px;
        height: 400px;
        position: absolute;
        top: 220px;
        left: 300px;
        color: #000000;
    }
    
    .ff {
        position: absolute;
        top: 500px;
        left: 300px;
        color: #000000;
    }
