#greenh2 {
    color: green;
}

.green {
    color: green;
}

#blueh2 {
    color: blue;
}

.blue {
    color: blue;
}

#purpleh2 {
    color: purple;
}

.purple {
    color: purple;
}

#redh2 {
    color: red;
}

.red {
    color: red
}

* {
    background-color: #2E86AB;
    text-align: center;
    border: 2px groove #1C7264;
    background-border: 1px;
    font-family: "arial", sans-serif;
}
