#greenh2 {
    color: green;
}

.green {
    color: green;
}

#blueh2 {
    color: blue;
}

.blue {
    color: blue;
}

#purpleh2 {
    color: purple;
}

.purple {
    color: purple;
}

#redh2 {
    color: red;
}

.red {
    color: red
}

* {
    background-image: url();
    background-repeat: no-repeat;
    : font-family: arial, sans-serif;
}
